@model GiftViewModel

<form asp-controller="Gifts" asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>: <input type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Desc"></label>: <input type="text" asp-for="Desc" />
        <span asp-validation-for="Desc"></span>
    </div>
    <div>
        <label asp-for="Url"></label>: <input type="text" asp-for="Url" />
        <span asp-validation-for="Url"></span>
    </div>
    <div>
        <label asp-for="Priority"></label>: <input type="text" asp-for="Priority" />
        <span asp-validation-for="Priority"></span>
    </div>
    <div>
        <label asp-for="Recipient"></label>: <input type="text" asp-for="Recipient" />
        <span asp-validation-for="Recipient"></span>
    </div>
    <button>Create</button>
</form>