@model UserViewModel
@{
    ViewBag.Title = "Create User";
}

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btnConfirm">Create</button>
    <a class="btnCancel" asp-controller="Users" asp-action="Index">Cancel</a>
</form>