@model UserViewModel
@{
    ViewBag.Title = "Edit User";
}

<form asp-controller="Users" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btnConfirm">Update</button>
    <a class="btnCancel" asp-controller="Users" asp-action="Index">Cancel</a>
</form>