@model List<UserViewModel>
@{
    ViewBag.Title = "Index Users";
}

@{int counter = 0;}

<a class="flex m-4 rounded-xl border-2 border-gray-600 justify-center text-center text-lg py-2 px-4 text-white bg-green-500 hover:bg-green-600" asp-action="Create">Create</a>

<section class="grid grid-cols-1 sm:grid-cols-3">
    @foreach (var userViewModel in Model)
    {
        <section class="bg-red-200 border-gray-300 border-2 p-6 m-5 rounded-xl">
            <a class="flex text-lg p-2 m-2 rounded-md text-white justify-center text-center bg-green-400 hover:bg-green-600" asp-controller="Users" asp-action="Edit" asp-route-id=@counter >@userViewModel.FirstName @userViewModel.LastName</a>

            <form asp-controller="Users" asp-action="Delete" asp-route-id=@counter method="post">
                <button class="m-2" onclick="return confirm('You are about to delete @userViewModel.FirstName @userViewModel.LastName. Are you sure you want to do this?');">
                    <i class="far fa-trash-alt text-xl text-red-700 align-middle h-full"></i>
                </button>
            </form>
            @{counter++;}
        </section>
    }
</section>